


body { 
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  
}

.mainnav{
  display: flex;
  flex-direction: column;
  opacity: 0.90;
  height: 70px;
  /* background-color: rgb(248, 232, 232); */
    background-color: #96C2DB;

  box-shadow: 3px 3px 3px black;
  /* text-shadow: 1px 1px 2px pink; */
  position: sticky;
  top: 0;

  
}

.mainul a{
  color: black;
  text-decoration: none;
  font-weight: 800;
  padding-top: 10px;


}

.mainul a:hover{
  box-shadow: 2px 2px 2px 2px #07245f;
  background-color: rgb(255, 170, 0);
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;

}

.mainul{
  display: flex;
  justify-content: left;
  gap: 14px;
  
}

.filterdiv{
  /* background-color: #96C2DB; */
   /* background-color: #96C2DB; */
      /* background-color: #96C2DB; */

  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 10px;
  justify-content: left;
}



.contentdiv{
  display: flex;
  justify-content:space-around;
  margin-top: 40px;
  min-height: 820px;
  /* box-shadow: 5px 10px 18px #888888; */
  margin-left: 10px;
  gap: 60px;
}


.itemcontainerdiv{
  width: 90%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3,2fr);
  gap: 40px;
}

.categorysortdiv{
  display: flex;
  flex-direction: row;
}

.homepagecardimg{
  height: 80%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


}

.homepagecardheader{
  height: 500px;
  width: 450px;
  align-items: center;
  /* background-color: rgb(244, 236, 236); */
  transition: 0.3s;
  text-shadow: 1px 1px 2px pink;
  border-radius: 10px;



}

homepagecardbody{
  text-shadow: 1px 1px 2px pink;

}

.homepagecardheader:hover{
  box-shadow: 0 0 30px wheat,0 0 30px #07245f;

}

.homepagecardbody{
  padding: 10px;
}

.footer {
  background: #24262b;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 40px;
  margin-top: auto;
}

.testh1{
  position: absolute;
  border-radius: 70%;
  box-shadow: 5px 10px 18px #888888;
  padding: 25px;
  right: 10px;

}

.loadmorebuttondiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  
}

.loadmorebuttondiv button{
  width: 500px;
  height: 50px;
}




.morebutton:hover{
  transition: 0.5s;
  background-color: green;
  cursor: pointer;
}

.main{
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  
  /* flex-grow: 1; */
}

.linksdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}

.footercenterdiv a{
  text-decoration: none;
  color: rgb(211, 196, 196);
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.footerleftdiv a{
  text-decoration: none;
  color: rgb(211, 196, 196);
  display: flex;
  flex-direction: column;
  padding: 3px;

}

.footerrightdiv a{
  text-decoration: none;
  color: rgb(211, 196, 196);
  display: flex;
  flex-direction: column;
  padding: 3px;
}





.maindetails{
  display: flex;
  justify-content: center;
  color: white;
}

.detailsDiv{
  display: flex;
  width: 1000px;
  max-width: 1000px;
  color: black;
  margin-top: 50px;
  height: 750px;
  gap: 50px;
  
}

.offerimg{
  width: 70%;
  
  
}

.descdiv{
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  /* margin: 70px; */
  margin-top: 100px;
}

.detailsbuttonsdiv button{
  width: 500px;
  height: 50px;
  background-color: red;
  border: none;
  font-size: 25px;
  
}

.detailsbuttonsdiv button:hover{
  transition: 0.7s;
  border: solid black 3px;
}



.dropdownmenu button {
  padding: 5px;
  width: 100%;
  border: none;
  padding: 7px;
  background-color:#96C2DB;

}


.dropdownmenu button:hover{
  background-color: #6492ad;
  transition: 0.5s;

}






.extraassetsdiv{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;

}


.pricesdiv{
  display: flex;
  justify-content: center;
  gap: 10px;
  color: green;
  
}

.detailspricesdiv{
  display: flex;
  justify-content: left;
  gap: 10px;
  font-size: 25px;
  color: green;
  text-shadow: 1px 1px 2px pink;

}

.totalnumbersdiv{
  font-weight:900;
}

.maindropdownmenu{
  position: absolute;
  top: 6rem;
  right: 50%;

  display: flex;
  justify-content: center;
  width: 200px;
  margin-top: 5px;
  padding: 2px;
  box-shadow: 5px 10px 18px #888888;

}



.dropdownmenu{
  width: 200px;
  
}



.filterdiv div{
  border: none;
  background-color: inherit;
  /* font-weight:bolder; */
  font-size: 15px;
  display: block;

  


}

.filterdiv div:hover{
  transition: 0.2s;
  color: rgb(162, 154, 154);
  cursor: pointer;

}

.nocontentdiv{
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.extraassetsdiv div button{
  border: none;
  background-color: inherit;
  border: none;
  font-weight:600;
  font-size: 15px;

}

.extraassetsdiv div button:hover{
  transition: 0.2s;
  color: rgb(162, 154, 154);
  cursor: pointer;

}

@media (width: 520px)  {
  homepagecardheader {
    width:50%;
    

  }
}

@media (height:460px){
  homepagecardheader{
    height: 30%;
  }
}